.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
TODO.txt
config/s3_data_file_config.yml

config/initializers/carrier_wave.rb

public/test_style.css

public/test_page.html

lesoir local.jpg

Test.jpg

TODO.txt

TODO.txt
