<table id="status">
  <tbody>
    <tr><td class="right"><%= @total %></td><td>people</td></tr>
    <tr><td class="right"><%= @processed %></td><td>processed</td></tr>
    <tr><td class="right"><%= @linkedin %></td><td>linkedin found</td></tr>
    <tr><td class="right"><%= @paperjam %></td><td>paperjam found</td></tr>
  </tbody>
</table>