<ul class="breadcrumb">
  <li><%= link_to 'Listing People', people_path %><span class="separator"> / </span></li>
  <li>Editing Person</li>
</ul>
<div class="sidebar">
  <div class="notice">
    <h4>Description</h4>
    <p>Use this form to update a new Person.</br> <strong>All fields with a * are required</strong>.</p>
    <dl>
      <dt>Firstname*:</dt>
      <dd>Enter the Firstname.</dd>
      <dt>Lastname*:</dt>
      <dd>Enter the lastname.</dd>
    </dl>
    <h4>Linkedin Profiles</h4>
    <p>The list of linkedin profiles matching the <i>fistname lastname</i></p>
    <p>Please select the valid profile, use the <i>Title, Region and Industry</i> columns to choose the right profile. When available you can also visualize the <i>past</i> positions when hovering on <i>(past)</i>.</p>
  </div>
</div>
<div class="content">
  <div class="block">
    <h1>Editing Person</h1>
    <%= render 'form' %>
  </div>
</div>
