<table id="status">
  <tbody>
    <tr><td class="right"><%= @total %></td><td>people</td></tr>
    <tr><td class="right"><%= @processed %></td><td>processed</td></tr>
    <tr><td class="right">404</td><td>linkedin found</td></tr>
    <tr><td class="right">6</td><td>paperjam found</td></tr>
  </tbody>
  <tfoot>
    <tr><td colspan="2">last update on 12 april 2012</td></tr>
  </tfoot>
</table>