<footer class="footer">
    <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>
          Designed and built by <a target="_blank" href="http://twitter.com/twitter">@denisjacquemin</a>, based on twitter bootstrap.
        </p>
    </div>
</footer>