<ul class="breadcrumb">
  <li>Dashboard</li>
</ul>
<div class="sidebar">
  <div class="notice">
    <h4>test</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<div class="content">
  <div class="block">
    <h1>
      Listing sites
      <span class="right"><%= link_to 'New Site', new_site_path, :class => 'btn primary' %></span>
    </h1>
    <table class="zebra-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @sites.each do |site| %>
          <tr>
            <td><%= link_to site.name, site, :rel => "twipsy", :title => "#{site.url} / #{site.selector}" %></td>
            <td><span class="label important">rss</span>&nbsp;<span class="label notice">alert</span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
