<ul class="breadcrumb">
  <li>Dashboard</li>
</ul>
<div class="content">
  <div class="block">
    <h1>
      Listing sites
      <span class="right"><%= link_to 'New Site', new_site_path, :class => 'btn primary' %></span>
    </h1>
    <table class="zebra-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @sites.each do |site| %>
          <tr>
            <td><%= link_to site.name, site, :rel => "twipsy", :title => "#{site.url} / #{site.selector}" %></td>
            <td><span class="label important">rss</span>&nbsp;<span class="label notice">alert</span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
