<ul class="breadcrumb">
  <li><%= link_to 'Watchers Listing', sites_path %> <span class="divider">/</span></li>
  <li class="active">New Watcher</li>

</ul>

<div class="content">
  <div class="block">
    <h1>New Watcher</h1>
    <%= render 'form' %>
  </div>
</div>