<ul class="breadcrumb">
  <li><%= link_to 'Watchers', sites_path %><span class="separator"> / </span></li>
  <li>New Site</li>
</ul>
<div class="sidebar">
  <div class="notice">
    <h4>Description</h4>
    <p>Use this form to create a new Watcher.</br> <strong>All fields with a * are required</strong>.</p>
    <dl>
      <dt>Name*:</dt>
      <dd>Enter a description of the Watcher.</dd>
      <dt>URL*:</dt>
      <dd>Enter the internet address of the page to watch.</dd>
      <dt>Selector*:</dt>
      <dd>Enter a css3 selector of the area to watch. ie: use <i>body</i> for all page.</dd>
      <dt>E-mail:</dt>
      <dd>Enter the e-mail address to be alerted for every updates. By fill in this field you enable the automatic alert.</dd>
    </dl>
  </div>
</div>
<div class="content">
  <div class="block">
    <h1>New Watcher</h1>
    <%= render 'form' %>
  </div>
</div>